*,
::before,
::after {
    margin: 0;
    padding: 0;
}

:root {
   /* Colors */

    /* Primary */

    --primary-1: hsl(257, 40%, 49%);
    --primary-2: hsl(300, 69%, 71%);

}


body {
    background-color: var(--primary-1);
    background-image: url("/images/bg-mobile.svg");
    background-size: top;
    background-repeat: no-repeat;
    color: #fff;
    padding: 2rem 2rem 1rem 2rem;
}
a{
    text-decoration: none;
}
.logo {
    height: 30px;
}
main, 
footer {
    text-align: center;
}
/************
 ILLUSTRATION
 ************/
.illustration {
    padding: 3rem 0;
}
.illustration img{
    display: block;
    width: 100%;
}
/****
 TEXT
 ****/
.text {
    margin-bottom: 4rem;
} 
.text h1 {
    font-size: clamp(1.7rem, 5vw, 3rem);
}
.text p {
    padding: 2rem 0;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}

.register-link {
    padding: .8rem 4rem;
    background: #fff;
    border-radius: 30px;
    color: var(--primary-1);
}

/******
 FOOTER
 ******/
.social-media-icons {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.icon{
    height: 20px;
    vertical-align: middle;
}

.attribution { 
    font-size: 11px;
    margin-top: 2rem;
}
.attribution a { 
    color: #fff;

} 
.attribution a:hover{
    color: var(--primary-2);
}

/*************
 MEDIA QUERIES
 *************/

@media (min-width: 768px) {
    body {
        background-image: url("/images/bg-desktop.svg");
        background-size: bottom;  
        padding: 4rem 4rem 2rem 4rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        place-items: center;
    }
    .social-media-icons {
        justify-content: flex-end;
    }
    .logo {
        height: 30px;
    }
}
@media (min-width: 1004px) {
    body { 
        height: 100vh;
    }
    .logo {
        height: 50px;
    }
}
@media (min-width: 1440px) {
    .logo {
        height: 60px;
    }
    body{
        padding: 4rem 5rem 2rem 5rem;
    }
    main {
        padding-top: 3rem;
    }
    
    .icon{
        height: 40px;
    }
}